In [1]:
file = open('/Users/jatinanand/Desktop/JATINDOCUMENTSMARKSHEET/code_1 2/demo.txt', 'r')

In [14]:
file.seek(15)

15

In [15]:
data = file.readlines()

In [16]:
data

['Id  101\n',
 'Name  Ram\n',
 "Grade  'A'\n",
 'Id  102\n',
 'Name  Shyam\n',
 "Grade  'B'\n",
 'Id  103\n',
 'Name  Anuj\n',
 "Grade  'A+'\n",
 'Id  104\n',
 'Name  Arjun\n',
 "Grade  'B+'"]

In [17]:
students = []

k = 0
start = 0
stop = 3
while k < 4:
    s = []
    for j in range(start, stop):
        s.append(data[j])
    start += 3
    stop += 3
    students.append(s)
    k += 1

print(students)

[['Id  101\n', 'Name  Ram\n', "Grade  'A'\n"], ['Id  102\n', 'Name  Shyam\n', "Grade  'B'\n"], ['Id  103\n', 'Name  Anuj\n', "Grade  'A+'\n"], ['Id  104\n', 'Name  Arjun\n', "Grade  'B+'"]]

In [18]:
 import pandas as pd

In [19]:
 df = pd.DataFrame(students)

In [20]:
  df

           0              1              2
0  Id  101\n    Name  Ram\n   Grade  'A'\n
1  Id  102\n  Name  Shyam\n   Grade  'B'\n
2  Id  103\n   Name  Anuj\n  Grade  'A+'\n
3  Id  104\n  Name  Arjun\n    Grade  'B+'